@model IEnumerable<WebMarket.Entities.Order>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<style>
    .link:hover {
        background-color: aqua;
        color: black;
    }
</style>

<script>
    $(document).ready(function () {
        $(".link").click(function () {
            var id = $(this).attr("data-id");
            //console.log(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action("Detail" , "OrderManager")',
                data: { id: id },
                success: function (res) {
                    $("#details").html(res);
                }
            });
        });
    });
</script>

@section css {
    <link href="~/css/Admin/orderDetail.css" rel="stylesheet" />
}

<script>
    $(document).ready(function () {
        $('.link').click(function () {
            $('.link').removeClass("active1");
            $(this).addClass("active1");
        });
    });</script>
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="font-size:16px;color:black;">Hóa đơn chưa xử lý</h3>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            @{
                                foreach (var item in Model)
                                {
                                    <li class="nav-item active">
                                        <div data-id="@item.Id" class="link list-group-item-action" style="text-decoration:none;height:70px">
                                            <i class=" far fa-file-alt "style=" font-size: 22px;"></i>
                                            <span style="font-size:20px;font-family:400">@item.Name</span>
                                            <span class="badge  float-right">@item.OrderDate.DayOfWeek/@item.OrderDate.Day/@item.OrderDate.Month/@item.OrderDate.Year</span>
                                          
                                            <i class="badge float-right">@item.Status</i>
                                        </div>
                                    </li>

                                }
                            }
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary card-outline" id="">
                    <div class="card-header">
                        <h3 class="card-title">Chi tiết hóa đơn</h3>
                    </div>

                    <div class="card-body p-sm-3">
                        <div class=" mailbox-messages">
                                <div  id="details" >
                                   
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



