@model IEnumerable<WebMarket.Entities.Product>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
@section Styles{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="~/js/preview.js" type="text/javascript"></script>
    <style>
        #preview {
            position: absolute;
            border: 1px solid #ccc;
            background: #333;
            padding: 5px;
            display: none;
            color: #fff;
        }
    </style>
}
@ViewBag.cateId
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Categories Tables</h6>
            <a href="@Url.Action("Create")" class="btn btn-success">Add New</a>
        </div>
        <div class="m-md-8" style="display:flex">
            <div class="form-group md-3 pl-4">
                <label class="control-label"></label>
                <select name="category" class="form-control category " asp-items="ViewBag.IdCategory" style="width:auto!important"></select>
            </div>
            <div class="form-group md-3 pl-4 type-select">


            </div>
        </div>
        <div class="card-body">
            @Html.Partial("_filterajax", Model);
        </div>
    </div>
</div>
<!-- /.container-fluid -->
@section Scripts{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/Admin/demo/datatables-demo.js"></script>
}

<script>
    $(document).ready(function () {
        addselected(@ViewBag.cateId, @ViewBag.typeId);


        $(".category").change(function () {
            var val = $(this).val();
            getcate(val);
            if (val != 0) {
                getSelectType(val);
            }
            else {
                $(".type-select").html("");
            }
        })
        function getcate(valcate = 0, valtype = 0) {
            $.get("@Url.Action("filterajax","ProductManager")", { cate: valcate, ty: valtype})
            .done(function (res)
            {
                $(".card-body").html(res)
            })
        }
        function getSelectType(val,ty) {
            $.get("@Url.Action("selectajax","ProductManager")", { cate: val })
            .done(function (res) {
                $(".type-select").html(res);
                $(".type option[value='" + ty + "']").attr("selected", "selected");
                $(".type").change(function () {
                    var valcate = $(".category").val();
                    var val = $(this).val();
                    getcate(valcate, val);
                })
            })
        }
        function addselected(cate, ty) {
            $(".category option[value='" + cate + "']").attr("selected", "selected");
            if (cate != 0) {
                getSelectType(cate,ty);

            }
        }

    })
</script>




