@model IEnumerable<WebMarket.Models.ProductVM>




<div id="clearfix"></div>
<div class="agile_top_brands_grids">

    @foreach (var item in Model)
    {
        <div class="col-md-4 top_brand_left" style=" margin-bottom :20px">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">

                    <div class="agile_top_brand_left_grid_pos">
                        <img src="~/images/offer.png" alt=" " class="img-responsive">
                    </div>
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block">
                                <div class="snipcart-thumb">
                                    <a href="single.html"><img title=" " id="@item.Discount" alt="@item.Name" src="~/images/img-products/@item.Image" style=" display: block; max-width: 400px; max-height: 95px; width: auto; height: auto;"></a>
                                    <p class="name">@item.Name</p>
                                    <h4>
                                        @item.NewPrice @if (item.Discount > 0)
                                        {<span>@item.Price</span>}
                                    </h4>
                                </div>
                                <div class="snipcart-details top_brand_home_details">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="business" value=" ">
                                            <input type="hidden" name="item_name" value="@item.Name">
                                            <input type="hidden" name="amount" value="@item.Price">
                                            <input type="hidden" name="discount_amount" value="1.00">
                                            <input type="hidden" name="currency_code" value="USD">
                                            <input type="hidden" name="return" value=" ">
                                            <input type="hidden" name="cancel_return" value=" ">
                                            <input type="submit" name="submit" value="Add to cart" class="button">
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </figure>
                    </div>

                </div>
            </div>
        </div>

    }
    <div class="clearfix"> </div>
</div>
<nav class="numbering" aria-label="...">
    <ul class="pagination paging">
        @{
            int totalpage = ViewBag.total;
            int currentpage = ViewBag.currentpage;
            if (currentpage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = currentpage-1 })" tabindex="-1">Previous</a>
                </li>
            }
            for (int i = 1; i <= totalpage; i++)
            {
                <li class="@(i == ViewBag.currentpage ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
            if (currentpage < totalpage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = currentpage + 1 })" tabindex="-1">Next</a>
                </li>
            }
        }

    </ul>
</nav>
@section Scripts{
    <script src="~/js/sort.js"></script>
}
